MS.Features/Configuration/FeatureToggleConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:MS.Features.Configuration" elementFormDefault="qualified" targetNamespace="urn:MS.Features.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="FeatureToggleConfig" type="tns:MS.Features.Configuration.FeatureToggleConfigCT" />
	<xs:complexType name="MS.Features.Configuration.FeatureToggleConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="1" name="featureToggles" type="tns:MS.Features.Configuration.FeatureToggleSettingsCT" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MS.Features.Configuration.FeatureToggleSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="features" type="tns:MS.Features.Configuration.FeatureToggleCollectionCT">
				<xs:annotation>
					<xs:documentation>The Features.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MS.Features.Configuration.FeatureToggleCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="feature" type="tns:MS.Features.Configuration.FeatureToggleElementCT">
				<xs:annotation>
					<xs:documentation>The FeatureToggleElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="MS.Features.Configuration.FeatureToggleElementCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
